In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib notebook

In [4]:
df = pd.read_csv("C:/Users/elkha/Desktop/gdp_data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1345540.csv", skiprows=4)

In [29]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,9.463542e+10,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.701698e+09,6.499807e+09,7.074778e+09,7.396705e+09,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.320647e+10,3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,3.514316e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.345952e+10,2.550306e+10,2.804551e+10,2.715065e+10,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10,NaN

In [111]:
data_2019=df[['Country Name','2019']].sort_values(by='2019', ascending=False)

In [112]:
data_2019.head(15)

           Country Name          2019
249       United States  2.137442e+13
38                China  1.434290e+13
117               Japan  5.081770e+12
53              Germany  3.845630e+12
202          South Asia  3.597970e+12
107               India  2.875142e+12
79       United Kingdom  2.827113e+12
75               France  2.715518e+12
114               Italy  2.001244e+12
27               Brazil  1.839758e+12
33               Canada  1.736426e+12
200  Russian Federation  1.699877e+12
124         Korea, Rep.  1.642383e+12
68                Spain  1.394116e+12
11            Australia  1.392681e+12

In [52]:
print(data_2019.iloc(0)[16])

Country Name    European Union
2019               1.55928e+13
Name: 71, dtype: object

In [114]:
top_15=data_2019.head(15)['Country Name']

In [127]:
top_15_countryname=[]
for i in range (len(top_15)):
    top_15_countryname.append(top_15.iloc(0)[i])

In [128]:
top_15_countryname

['United States',
 'China',
 'Japan',
 'Germany',
 'South Asia',
 'India',
 'United Kingdom',
 'France',
 'Italy',
 'Brazil',
 'Canada',
 'Russian Federation',
 'Korea, Rep.',
 'Spain',
 'Australia']

In [18]:
df.sort_values?

In [53]:
country_names=df["Country Name"]

In [68]:
Country[0]

('US', 'United States')

In [77]:
a= 'United States'

In [78]:
a in countries

True

In [70]:
countries=[]
for i in range (len(Country)): 
    countries.append(Country[i][1])

In [80]:
df.drop?

In [109]:
for index, row in df.iterrows(): 
    if ((row["Country Name"] in non_wanted )== True): 
        df.drop(index, inplace=True)

In [110]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.948438e+10,1.910135e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,9.463542e+10,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527808e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.701698e+09,6.499807e+09,7.074778e+09,7.396705e+09,6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926108e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.320647e+10,3.697620e+10,2.808468e+10,2.456133e+10,2.759126e+10,NaN,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,3.514316e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.345952e+10,2.550306e+10,2.804551e+10,2.715065e+10,2.124335e+10,2.095476e+10,2.586814e+10,2.700524e+10,2.306472e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10,NaN

In [108]:
non_wanted=['Arab World',
            'Central Europe and the Baltics',
            'Channel Islands',
            'East Asia & Pacific (excluding high income)',
            'Early-demographic dividend',
            'East Asia & Pacific',
            'Europe & Central Asia (excluding high income)',
            'Europe & Central Asia', 
            'Euro area',
            'European Union',
            'Fragile and conflict affected situations',
            'High income',
            'Heavily indebted poor countries (HIPC)',
            'IBRD only',
            'IDA & IBRD total',
            'IDA total',
            'IDA blend',
            'IDA only',
            'Not classified',
            'Latin America & Caribbean (excluding high income)',
            'Latin America & Caribbean',
            'Least developed countries: UN classification',
            'Low income',
            'Lower middle income',
            'Low & middle income',
            'Late-demographic dividend',
            'Middle East & North Africa',
            'Middle income',
            'Middle East & North Africa (excluding high income)',
            'OECD members',
            'Other small states',
            'Pre-demographic dividend',
            'Pacific island small states',
            'Post-demographic dividend',
            'Sub-Saharan Africa (excluding high income)',
            'East Asia & Pacific (IDA & IBRD countries)',
            'Europe & Central Asia (IDA & IBRD countries)',
            'Latin America & the Caribbean (IDA & IBRD countries)',
            'Middle East & North Africa (IDA & IBRD countries)',
            'South Asia (IDA & IBRD)',
            'Sub-Saharan Africa (IDA & IBRD countries)',
            'Upper middle income',
            'World',
           'North America', 'Sub-Saharan Africa']